<h1> Particluar Question </h1>
<p>TITLE: <%= @question.title %></a></p>
<p>DESCRIPTION : <%= @question.description %></p>
<p>QUESTION ID : <%= @question.id %></p>
<p>QUESTION ASKED AT : <%= @question.created_at %></p><br>


<% @question.answers.each do |p| %>
<p>COMMENT : <%= p.comment %></p>
<p>COMMENTED BY : <%= p.user.fullname %></p>
<p>REPLIED AT : <%= p.created_at %></p><br>

<form action="/answers/<%= p.id %>/upvote" method="post">
  <input type="submit" value="UPVOTE | <%= AnswerVote.where(answer_id: p.id, vote: true).count %>" >
</form>

<form action="/answers/<%= p.id %>/downvote" method="post">
  <input type="submit" value="DOWNVOTE | <%= AnswerVote.where(answer_id: p.id, vote: false).count %>" >
</form>

<% end %>


<h3>Answer Questions</h3>
<form method="post" action="<%= @question.id %>/answers">
    <input type=comment placeholder="Comment" name="answer[comment]"></br>
    <input type=submit value="ANSWER">
</form>
