<% @user.questions.each do |p| %>
<p>TITLE : <%= p.title %></p>
<p>DESCRIPTION : <%= p.description %></p>
<p>USER ID : <%= p.user_id %></p>
<p>QUESTION ASKED AT : <%= p.created_at %></p><br>
<% end %>


<% @user.answers.each do |p| %>
<p>COMMENT : <%= p.comment %></p>
<p>REPLIED AT : <%= p.created_at %></p><br>
<% end %>
